In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Dollar_Rial_Price_Dataset.csv')

In [3]:
df.head()

   Unnamed: 0        Date Persian_Date    Open     Low    High   Close
0           0  11/27/2011   1390/09/06  13,700  13,700  13,700  13,700
1           1  11/28/2011   1390/09/07  13,440  13,440  13,440  13,440
2           2  11/29/2011   1390/09/08  13,350  13,350  13,350  13,350
3           3  11/30/2011   1390/09/09  13,400  13,400  13,400  13,400
4           4   12/1/2011   1390/09/10  13,500  13,500  13,500  13,500

In [4]:
del df['Unnamed: 0']
del df['Persian_Date']

df['Date'] = pd.to_datetime(df['Date'])

df['Open'] = df['Open'].str.replace(',', '').astype(int)
df['Low'] = df['Low'].str.replace(',', '').astype(int)
df['High'] = df['High'].str.replace(',', '').astype(int)
df['Close'] = df['Close'].str.replace(',', '').astype(int)

In [5]:
df.head()

        Date   Open    Low   High  Close
0 2011-11-27  13700  13700  13700  13700
1 2011-11-28  13440  13440  13440  13440
2 2011-11-29  13350  13350  13350  13350
3 2011-11-30  13400  13400  13400  13400
4 2011-12-01  13500  13500  13500  13500

In [6]:
ahmad = df[(df['Date'] >= '8/3/2009') & (df['Date'] < '8/3/2013')]
hasan = df[(df['Date'] >= '8/3/2013') & (df['Date'] < '8/3/2021')]
ebrahim = df[(df['Date'] >= '8/3/2021') & (df['Date'] < '3/3/2024')]

In [7]:
print(f'Count all of data: {len(df)}')
print(f'Count ahmad data: {len(ahmad)}')
print(f'Count hasan data: {len(hasan)}')
print(f'Count ebrahim data: {len(ebrahim)}')
print(len(df) == len(ahmad) + len(hasan) + len(ebrahim))

Count all of data: 3310
Count ahmad data: 482
Count hasan data: 2375
Count ebrahim data: 453
True

In [8]:
print('High price in ahmad: ', ahmad.sort_values(by='Close', ascending=False).iloc[0]['Close'])
print('High price in hasan: ', hasan.sort_values(by='Close', ascending=False).iloc[0]['Close'])
print('High price in ebrahim: ', ebrahim.sort_values(by='Close', ascending=False).iloc[0]['Close'])

High price in ahmad:  38900
High price in hasan:  318560
High price in ebrahim:  550510

In [9]:
print('Low price in ahmad: ', ahmad.sort_values(by='Close').iloc[0]['Close'])
print('Low price in hasan: ', hasan.sort_values(by='Close').iloc[0]['Close'])
print('Low price in ebrahim: ', ebrahim.sort_values(by='Close').iloc[0]['Close'])

Low price in ahmad:  13350
Low price in hasan:  28880
Low price in ebrahim:  253830

In [10]:
from train_test_split import train_test_split

ahmad_x_train, ahmad_x_test, ahmad_y_train, ahmad_y_test = train_test_split(
    ahmad['Date'].values.astype(np.uint32),
    ahmad['Close'].values, test_size=.2, random_state=32
)

hasan_x_train, hasan_x_test, hasan_y_train, hasan_y_test = train_test_split(
    hasan['Date'].values.astype(np.uint32),
    hasan['Close'].values, test_size=.2, random_state=32
)

ebrahim_x_train, ebrahim_x_test, ebrahim_y_train, ebrahim_y_test = train_test_split(
    ebrahim['Date'].values.astype(np.uint32),
    ebrahim['Close'].values, test_size=.2, random_state=32
)

In [11]:
print(f'Ahmad: x_train: {len(ahmad_x_train)}, y_train: {len(ahmad_y_train)}')
print(f'Ahmad: x_test: {len(ahmad_x_test)}, y_test: {len(ahmad_y_test)}')

print(f'hasan: x_train: {len(hasan_x_train)}, y_train: {len(hasan_y_train)}')
print(f'hasan: x_test: {len(hasan_x_test)}, y_test: {len(hasan_y_test)}')

print(f'ebrahim: x_train: {len(ebrahim_x_train)}, y_train: {len(ebrahim_y_train)}')
print(f'ebrahim: x_test: {len(ebrahim_x_test)}, y_test: {len(ebrahim_y_test)}')

Ahmad: x_train: 386, y_train: 386
Ahmad: x_test: 96, y_test: 96
hasan: x_train: 1900, y_train: 1900
hasan: x_test: 475, y_test: 475
ebrahim: x_train: 363, y_train: 363
ebrahim: x_test: 90, y_test: 90

In [12]:
from sklearn.metrics import mean_absolute_error
from lls import LLSRegression

In [13]:
ahmad_x_train = ahmad_x_train.reshape(-1, 1)
ahmad_x_test = ahmad_y_test.reshape(-1, 1)

hasan_x_train = hasan_x_train.reshape(-1, 1)
hasan_x_test = hasan_y_test.reshape(-1, 1)

ebrahim_x_train = ebrahim_x_train.reshape(-1, 1)
ebrahim_x_test = ebrahim_y_test.reshape(-1, 1)

In [14]:
ahmad_model = LLSRegression()
ahmad_model.fit(ahmad_x_train, ahmad_y_train)

hasan_model = LLSRegression()
hasan_model.fit(hasan_x_train, hasan_y_train)

ebrahim_model = LLSRegression()
ebrahim_model.fit(ebrahim_x_train, ebrahim_y_train)

In [15]:
ahmad_y_pred = ahmad_model.predict(ahmad_x_test)
hasan_y_pred = hasan_model.predict(hasan_x_test)
ebrahim_y_pred = ebrahim_model.predict(ebrahim_x_test)

In [16]:
print(f'Ahmad result: {mean_absolute_error(ahmad_y_pred, ahmad_y_test)}')
print(f'hasan result: {mean_absolute_error(hasan_y_pred, hasan_y_test)}')
print(f'ebrahim result: {mean_absolute_error(ebrahim_y_pred, ebrahim_y_test)}')

Ahmad result: 26160.3125
hasan result: 83876.92631578947
ebrahim result: 349385.3333333333